body {
  margin: 0 0 2rem 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Quiz-Masters-Logo {
  max-width: 200px
}
#UCLL-Logo {
  max-width: 75px;
}

#Login-Form-Div, #Sign-Up-Form-Div, #Create-Question-Page-Div {
  text-align: center;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 40vw;
  min-width: 20rem;
}

#Forgot-Password-Btn {
  color: black;
}
#Forgot-Password-Btn:hover {
  color: grey;
}

.link-btn {
  margin: 0px;
  padding: 0px;
  width: max-content;
  align-self: center;
}
.forgot-password-link {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.join-quiz-link, .host-quiz-link, .create-question-link {
  margin-top: 1.5rem;
}

#Home-Page-Div {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20vw;
}

#Join-Page-Div {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 20vw;
  text-align: center;
}

#Quiz-Question-Container {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

#Multiple-Choice-Div, #True-Or-False-Div, #Fill-In-The-Blank-Div, #Quiz-Break-Div {
  text-align: center;
}
.question-string {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.question-description {
  margin-top: 2rem;
}

.multiple-choice-answers {
  text-align: start;
  inline-size: 20rem;
  overflow-wrap: break-word;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}

#True-Or-False-Btns-Div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 10rem;
  display: flex;
  justify-content: space-between;
}

#Fill-In-The-Answer {
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
  margin-bottom: 2rem;
}

#Break-Btn {
  margin-top: 5rem;
}

.create-question-hr {
  margin-top: 2rem;
}

#True-Or-False-Btn-Div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 10rem;
  display: flex;
  justify-content: space-between;
}

#Create-Quiz-Form{
  margin: 2rem auto 0 auto;
  max-width: 60rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem auto;
  grid-template-areas: "field1 field2 field3"
                       "field4 field5 field6";
  gap: 20px;
  justify-items: center;
  text-align: center;
}

#Create-Quiz-Form>h1{
  grid-area: field1;
  align-self: center;
}

#Create-Quiz-Form>h3{
  grid-area: field2;
  align-self: center;
}

#Create-Quiz-Form>h4{
  grid-area: field3;
  align-self: center;
}

#Create-Quiz-Current-Questions{
  grid-area: field4;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#Create-Quiz-Topics-Container{
  grid-area: field5;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#Create-Quiz-Questions-By-Topic{
  grid-area: field6;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#Create-Quiz-Form>div>p{
  padding: 0.2rem 0.5rem;
  margin: 0;
}

#Create-Quiz-Form>div>p:hover{
  background: #aae1fa;
  border: #003469;
  border-style: solid;
  border-radius: 0.7rem;
  font-size: large;
  cursor: pointer;
}